.container
  %h1 Directors index

.container
  .row.list-group
    -@directors.each do |director|
      .list-group-item
        =link_to "#{director.Director}  (#{director.Country})", director_path(director)


.container
  %p
    =link_to 'Add new director', new_director_path, class: 'btn btn-success'
  %p
    =link_to 'Go to Movie Index', works_path, class: 'btn btn-primary'