%footer.footer{:role => "contentinfo"}
  .container
    .row
      .col-sm-6
        %p.mb-1 © Copyright Movie Index
        .credits
          Designed by
          %a{:href => "https://littlehackers.jp/"} dik
      .col-sm-6.social.text-md-right
        %a{:href => "#"}
          %span.icofont-twitter
        %a{:href => "#"}
          %span.icofont-facebook
        %a{:href => "#"}
          %span.icofont-dribbble
        %a{:href => "#"}
          %span.icofont-behance
  %a.back-to-top{:href => "#"}
    %i.icofont-simple-up
