%head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title MyPortfolio Bootstrap Template - Index
    %meta{:content => "", :name => "descriptison"}/
    %meta{:content => "", :name => "keywords"}/
    / Favicons
    %link{:href => "assets/img/favicon.png", :rel => "icon"}/
    %link{:href => "assets/img/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    / Google Fonts
    %link{:href => "https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i", :rel => "stylesheet"}/
    
    / Vendor CSS Files
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'

/ ======= Navbar =======
%nav.navbar.navbar-light.custom-navbar
    .container
    %a.navbar-brand{:href => "index.html"} Movie Index
    %a.burger{"data-target" => "#main-navbar", "data-toggle" => "collapse", :href => "#"}
        %span

   