
.container
  %h1 Movies index

.container
  .row.list-group
    -@works.each do |work|
      .list-group-item
        =link_to "#{work.Title} / #{work.director.Director} (#{work.ReleaseYear})", work_path(work)

.container
  %p
    =link_to 'Add new movie', new_work_path, class: 'btn btn-success'
  %p
    =link_to 'Go to Director Index', directors_path, class: 'btn btn-primary'
